*  {
    margin: 0;
    padding: 0;
}

#wrapper {
    width: auto;
    height: auto;
    margin: 20px;
}

.box{
    box-sizing: border-box;
 }

 @media screen and (min-width: 992px) {

 }

 @media screen and (min-width: 768px) and (max-width: 991px) {

 }

 @media screen and (max-width: 767px) {

 }

 h1 {
     font-size: 26px;
 }

 p {
     font-size: 15px;
 }

 #container-header {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .element1 {
     padding-right: 300px;
 }

 
 .card-hebergements, .card-populaires, .card-activites {
    background-color: white;
    border-radius: 10px;
    padding:10px;
    margin: 10px;
 }

article, aside {
    display: inline-block;
    background-color: #f2f2f2;
    padding:30px 10px 30px 10px;
    border-radius:10px;
}

article {
    float: left;
    margin-right: 30px;
    width: 60%;
    height: auto;  
}

.card-hebergements:hover .name, .card-populaires:hover .name {
    color: #0065fc;
}

 #container-hebergements {
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
 }

 .card-hebergements {
     width: 250 px;
     height: 150px;
 }

 .picture {
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
 }

 .card-body {
     padding-left: 5px;
 }

 aside {
     width: 25%;
     height: auto;
 }

 #container-populaires {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 }

 .card-populaires {
    display: flex;
    width: 350 px;
    height: 100px; 
 }

 #container-activites {
     display: flex;
     justify-content: space-around;
 }

 footer {
    background-color: #f2f2f2;
    margin: 0;
 }

 #container-footer {
     display: flex;
     width: 80%;
     justify-content: space-evenly;
 }