*  {
    margin: 0;
    padding: 0;
}

#wrapper {
    width: auto;
    height: auto;
    margin: 20px;
}

.box{
    box-sizing: border-box;
 }

 @media screen and (min-width: 992px) {

 }

 @media screen and (min-width: 768px) and (max-width: 991px) {

 }

 @media screen and (max-width: 767px) {

 }

 h1 {
     font-size: 20px;
     padding-left: 15px;
 }

 h1.activites, h1.main {
     padding-left: 0;
 }

 p {
     font-size: 13px;
 }

 .plus {
     padding-left: 15px;
     padding-top: 10px;
 }

 #container-header {
     display: flex;
 }

 .element1 {
     padding: 10px 75% 0 10px;
 }

 .element2, .element3 {
     padding-top: 20px;
     padding-left: 30px;
     border-top:1px solid white;
 }

 .element2:hover, .element3:hover {
    color: #0065fc;
    border-top: 1px solid #0065fc;
 }

 #filter {
     display: flex;
     justify-content: space-around;
     width: 75%;
 }

 .eco, .family, .romantic, .pets {
     display: flex;
 }

 .card-hebergements, .card-populaires {
    background-color: white;
    border-radius: 10px;
    padding:10px;
    margin: 10px;
 }

article, aside {
    display: inline-block;
    background-color: #f2f2f2;
    padding:30px 10px 30px 10px;
    border-radius:10px;
}

article {
    float: left;
    margin-right: 30px;
    width: 67%;
    height: auto;  
}

.card-hebergements:hover .name, .card-populaires:hover .name {
    color: #0065fc;
}

 #container-hebergements, #container-hebergements-2 {
     display: flex;
     justify-content: space-between; 
 }

 .card-hebergements {
     width: auto;
     height: 150px;
 }

 .picture {
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
     max-width: 100%;
     max-height: auto;
 }

 .card-body {
     padding-left: 5px;
 }

 .fa-solid {
     color: #0065fc;
 }

 .fa-regular {
     color:#f2f2f2;
 }

 aside {
     width: 27%;
     height: auto;
 }

 #container-populaires {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 }

 .card-populaires {
    display: flex;
    width: auto;
    height: 100px; 
 }

 #container-activites {
     display: flex;
     justify-content: space-between;
     margin-top: 10px;
     margin-bottom: 30px;
 }

 .port, .pomegues, .frioul, .calanques, .notre-dame, .longchamp {
     border-radius: 10px;
     background-color: white;
 }

 footer {
    background-color: #f2f2f2;
 }

 #container-footer {
     display: flex;
 }

 .section-footer {
     padding-right: 250px;
 }